<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CeamiticSEV</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>ServletPackages.DetailActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrapheIA</servlet-name>
    <servlet-class>ServletPackages.GrapheIndicateurActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrapheIA</servlet-name>
    <url-pattern>/indicateurActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>ServletPackages.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>ServletPackages.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resultat</servlet-name>
    <servlet-class>ServletPackages.ResultatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resultat</servlet-name>
    <url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activite</servlet-name>
    <servlet-class>ServletPackages.ActiviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activite</servlet-name>
    <url-pattern>/activite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indicateur</servlet-name>
    <servlet-class>ServletPackages.IndicateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indicateur</servlet-name>
    <url-pattern>/indicateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Etudiant</servlet-name>
    <servlet-class>ServletPackages.EtudiantFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etudiant</servlet-name>
    <url-pattern>/etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EtudiantList</servlet-name>
    <servlet-class>ServletPackages.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantList</servlet-name>
    <url-pattern>/listeEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Enseignant</servlet-name>
    <servlet-class>ServletPackages.EnseignantFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enseignant</servlet-name>
    <url-pattern>/enseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Partenaire</servlet-name>
    <servlet-class>ServletPackages.PartenaireFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Partenaire</servlet-name>
    <url-pattern>/partenaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Responsable</servlet-name>
    <servlet-class>ServletPackages.ResponsableFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Responsable</servlet-name>
    <url-pattern>/responsable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiviteFormulaire</servlet-name>
    <servlet-class>ServletPackages.ActiviteFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiviteFormulaire</servlet-name>
    <url-pattern>/activiteFormulaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Formation</servlet-name>
    <servlet-class>ServletPackages.FormationFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formation</servlet-name>
    <url-pattern>/formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stage</servlet-name>
    <servlet-class>ServletPackages.StageFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stage</servlet-name>
    <url-pattern>/stage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reunion</servlet-name>
    <servlet-class>ServletPackages.ReunionFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reunion</servlet-name>
    <url-pattern>/reunion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Publication</servlet-name>
    <servlet-class>ServletPackages.PublicationFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Publication</servlet-name>
    <url-pattern>/publication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Animateur_Relecteur</servlet-name>
    <servlet-class>ServletPackages.Animateur_RelecteurFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Animateur_Relecteur</servlet-name>
    <url-pattern>/animateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgrammeCEA</servlet-name>
    <servlet-class>ServletPackages.ProgrammeCEAFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgrammeCEA</servlet-name>
    <url-pattern>/programme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Information about Country - jQuery Ajax Request</description>
    <display-name>CountryInformation</display-name>
    <servlet-name>CountryInformation</servlet-name>
    <servlet-class>com.as400samplecode.CountryInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryInformation</servlet-name>
    <url-pattern>/CountryInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrapheIndicateur</servlet-name>
    <servlet-class>ServletPackages.GrapheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrapheIndicateur</servlet-name>
    <url-pattern>/graphe</url-pattern>
  </servlet-mapping>
  	<servlet>
		<servlet-name>AuthenticationSecurity</servlet-name>
		<servlet-class>ServletSecurity.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationSecurity</servlet-name>
		<url-pattern>/authentication</url-pattern>
	</servlet-mapping>
  <filter>
    <filter-name>ClickCounterFilter</filter-name>
    <filter-class>FilterPackage.ClickCounterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClickCounterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>