<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CeamiticSEV</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>ServletPackages.DetailActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrapheIA</servlet-name>
    <servlet-class>ServletPackages.GrapheIndicateurActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrapheIA</servlet-name>
    <url-pattern>/indicateurActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>itex</servlet-name>
    <servlet-class>ServletPackages.ItexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>itex</servlet-name>
    <url-pattern>/itex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>ServletPackages.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>ServletPackages.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activite</servlet-name>
    <servlet-class>ServletPackages.ActiviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activite</servlet-name>
    <url-pattern>/activite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indicateur</servlet-name>
    <servlet-class>ServletPackages.IndicateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indicateur</servlet-name>
    <url-pattern>/indicateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Etudiant</servlet-name>
    <servlet-class>ServletPackages.EtudiantFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etudiant</servlet-name>
    <url-pattern>/etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EtudiantList</servlet-name>
    <servlet-class>ServletPackages.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantList</servlet-name>
    <url-pattern>/listeEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponsableList</servlet-name>
    <servlet-class>ServletPackages.ResponsableListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsableList</servlet-name>
    <url-pattern>/listeResponsable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Enseignant</servlet-name>
    <servlet-class>ServletPackages.EnseignantFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enseignant</servlet-name>
    <url-pattern>/enseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Partenaire</servlet-name>
    <servlet-class>ServletPackages.PartenaireFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Partenaire</servlet-name>
    <url-pattern>/partenaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Responsable</servlet-name>
    <servlet-class>ServletPackages.ResponsableFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Responsable</servlet-name>
    <url-pattern>/responsable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiviteFormulaire</servlet-name>
    <servlet-class>ServletPackages.ActiviteFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiviteFormulaire</servlet-name>
    <url-pattern>/activiteFormulaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Formation</servlet-name>
    <servlet-class>ServletPackages.FormationFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formation</servlet-name>
    <url-pattern>/formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stage</servlet-name>
    <servlet-class>ServletPackages.StageFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stage</servlet-name>
    <url-pattern>/stage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reunion</servlet-name>
    <servlet-class>ServletPackages.ReunionFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reunion</servlet-name>
    <url-pattern>/reunion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Publication</servlet-name>
    <servlet-class>ServletPackages.PublicationFormulaireServlet</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:\fic/</param-value>
    </init-param>
    <multipart-config>
      <location>C:\fic/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Publication</servlet-name>
    <url-pattern>/publication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Animateur_Relecteur</servlet-name>
    <servlet-class>ServletPackages.Animateur_RelecteurFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Animateur_Relecteur</servlet-name>
    <url-pattern>/animateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgrammeCEA</servlet-name>
    <servlet-class>ServletPackages.ProgrammeCEAFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgrammeCEA</servlet-name>
    <url-pattern>/programme</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrapheIndicateur</servlet-name>
    <servlet-class>ServletPackages.GrapheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrapheIndicateur</servlet-name>
    <url-pattern>/graphe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAccueil</servlet-name>
    <servlet-class>ServletPackages.AdminAccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAccueil</servlet-name>
    <url-pattern>/administrator</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Page de l'administrateur</web-resource-name>
      <url-pattern>/administrators</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Connection page</web-resource-name>
      <url-pattern>/reunion</url-pattern>
      
    </web-resource-collection>
    <auth-constraint>
      <role-name>responsable_Suivi_Evaluation</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/connexion</form-login-page>
      <form-error-page>/connexion</form-error-page>
    </form-login-config>
  </login-config>
  <filter>
    <filter-name>ClickCounterFilter</filter-name>
    <filter-class>FilterPackage.ClickCounterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClickCounterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	<servlet>
		<servlet-name>Excel</servlet-name>
		<servlet-class>ServletPackages.ImportExcelServlet</servlet-class>
		<multipart-config>
            <location>/D:/fichiers/</location> <!-- A adapter chez vous -->
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Excel</servlet-name>
		<url-pattern>/importExcel</url-pattern>
	</servlet-mapping>
	
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Page de l'administrateur</web-resource-name>
			<url-pattern>/administrators</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
	 <servlet-name>responsableSE</servlet-name>
    <servlet-class>ServletPackages.AccueilRespSuivuEvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responsableSE</servlet-name>
    <url-pattern>/responsable_Suivi_Evaluation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resultat</servlet-name>
    <servlet-class>ServletPackages.ResultatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resultat</servlet-name>
    <url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthenticationSecurity</servlet-name>
    <servlet-class>ServletSecurity.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationSecurity</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponsableControle</servlet-name>
    <servlet-class>ServletPackages.AccueilResponsableControleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsableControle</servlet-name>
    <url-pattern>/responsableControle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>ServletPackages.EtudiantServletForm</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:\fic/</param-value>
    </init-param>
    <multipart-config>
      <location>C:\fic/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>ServletPackages.ImageServlet</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:\fic/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListEnseignant</servlet-name>
    <servlet-class>ServletPackages.TeacherList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEnseignant</servlet-name>
    <url-pattern>/listEnseignant</url-pattern>
  </servlet-mapping>
</web-app>